

canvas {
    border: 1px solid white;
    box-shadow: 6px 6px 6px rgb(110, 92, 92);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
}

body {
    background-color: black;
}

p {
    color: rgb(84, 83, 81);
    font-size: 10px;
    text-align: center;
    margin-top: 1px;
}

button {
    margin-top: 10px;
    height: 50px;
    width: 150px;
}

button:hover {
    background-color:rgb(95, 95, 91);
    
}

#stopGame {
    height: 30px;
    width: 350px;
    background-color: rgb(95, 95, 91);
}

#stopGame:hover {
    background-color:whitesmoke;
}